<h1>Show Thread</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @thread.title %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @thread.author %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @thread.content %>
  </li>

</ul>

<span><%= live_redirect "Edit", to: Routes.thread_form_path(@socket, :edit, @thread), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.thread_index_path(@socket, :index) %></span>
